<div class='banner'>
	<div id='emoji'>
	<%= "🎥" %>
	</div>
	<div>
		<%= link_to "My lists", root_path %>
		<%= link_to "New list", new_list_path %>
	</div>
</div>

<div class='list-container'>
  <h4> New List </h4>

  <div class="row">
    <div class="col-6 mx-auto">
      <%= simple_form_for [@list] do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Create list", class: "btn btn-success" %>
      <% end %>
      <div>
        <%= link_to "Back to lists", root_path, class:"list-links" %>
      </div>
    </div>
  </div>

</div>