<div class='banner'>
	<div id='emoji'>
	<%= "🎥" %>
	</div>
	<div>
		<%= link_to "My lists", root_path %>
		<%= link_to "New list", new_list_path %>
	</div>
</div>
<%# @list.photo.attached? && @list.photo.key.present? ? cl_image_path(@list.photo.key) : asset_path('default.jpg') %>
<%# if @list.photo&.key.present %>
<div class="card-category" style="background-image: url(<%= cl_image_path(@list.photo.key) %>)">
	<%= @list.name %>
</div>

<div class='container'>
	<div class='movie-links'>
		<%= link_to "Back to lists", root_path %>
		<%= link_to "Delete list", list_path(@list), class: 'btn btn-danger',
      	data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
	</div>

	<div class='row movie-content'>
		<div class='col-12'>
			<div class='movie-cards'>	
				<% @list.bookmarks.each do |bookmark| %>
					<div class='card-movie'>
						<%= image_tag bookmark.movie.poster_url %>
						<div class='movie-info'>
							<p><%= bookmark.movie.title %></p>
							<p><%= bookmark.movie.overview %></p>
						</div>
						<div class='movie-extras'>
							<p> "<%= bookmark.comment %>"</p>
							<p><%= link_to "Delete", bookmark_path(bookmark), class: 'btn btn-danger',
									data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>


  <div class="row">
  <h4 class="text-center">Add a movie</h4>
    <div class="col-6 mx-auto" style="padding: 24px;">
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie %>
        <%= f.input :comment %>
        <%= f.button :submit, class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>

